<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Work History</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    <div class="container">
    <p>It's all gone. Go back and take a look</p>
    <a href="/">Click Me, I'm freindly,</a>
    </div>
  </body>
</html>
